@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font);
    scroll-behavior: smooth;
    list-style: none;
}

:root{
    --corBg: #3F394D;
    --corDestaque: #936AE6;
    --corfooter: #1F1B27;
    --fontall: 'Lato', sans-serif;
    --font:  'Kanit', sans-serif;
}

body{
    background-color: var(--corBg);
    font-family: var(--font); 
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--corfooter);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--corBg);  /* creates padding around scroll thumb */
  }





/* CABEÇALHO */






header{
    background: #3F394D;
    mix-blend-mode: normal;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
#menu{
    display: none;
   fill: white;
}
.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}
.menu ul{
    display: flex;
    gap: 50px;
    align-items: center;
}
.menu ul li img{
    height: 50px;
    width: 50px;
}
.menu h1 {
    font-size: 45px;
    color: white;
    padding: 20px;
}
.menu ul li a{
    font-size: 16px;
    padding: 20px;
    color: white;
}
.menu h1 a{
    color: white;
}




/* MAIN */


.proj1{
    grid-area: proj1;
}
.proj2{
    grid-area: proj2;
}
.proj3{
    grid-area: proj3;
}

main{
    display: grid;
    grid-template-areas: 
    "tittle tittle tittle"
    "proj1 proj2 proj3";
    gap: 30px;
    justify-content: center;
}
.tittle{
    grid-area: tittle;
    text-align: center;
    color:white;
    font-size: 30px;
    margin-top: 60px;
}
.tittle span{
    color: var(--corDestaque);
}

.card-project{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 500px;
    box-shadow: 2px 2px 14px 5px rgba(0, 0, 0, 0.165);
    align-items: center;
    color: white;
    border-radius: 20px;
    padding: 40px;
    gap: 50px;
}

.card-project img{
    width: 250px;
    height: 200px;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.165);
}
.card-project p{
    text-align: justify;
}
.card-project h3{
    position: absolute;
    top: 450px;
    background-color: var(--corBg);
    color: var(--corDestaque);
    padding: 25px;
    border-radius: 100px;
    box-shadow:  2px 2px 14px 5px rgba(0, 0, 0, 0.165);
}
.card-project button {
    background-color: var(--corDestaque);
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 20px;
    font-size: 1.2rem;
}
.card-project button:hover {
    background-color: #503587;
}

.card-project a{
    color: white;
}

/* OTHER PROJECTS */
.o-tittle{
    grid-area: o-tittle;
    text-align: center;
    color:white;
    font-size: 30px;
    margin-top: 60px;
}
.o-proj1{
    grid-area: o-proj1;
}
.o-proj2{
    grid-area: o-proj2;
}
.o-proj3{
    grid-area: o-proj3;
}
.other-projects{
    margin-top: 7%;
}
.other-projects-grid{
    display: grid;
    grid-template-areas: 
    "o-tittle o-tittle o-tittle"
    "o-proj1 o-proj2 o-proj3"
    ;
    gap: 30px;
    justify-content: center;
}

.o-proj1 h3{
    position: absolute;
    top: 1200px;
    background-color: var(--corBg);
    color: var(--corDestaque);
    padding: 25px;
    border-radius: 100px;
    box-shadow:  2px 2px 14px 5px rgba(0, 0, 0, 0.165);
}
.o-proj2 h3{
    position: absolute;
    top: 1200px;
    background-color: var(--corBg);
    color: var(--corDestaque);
    padding: 25px;
    border-radius: 100px;
    box-shadow:  2px 2px 14px 5px rgba(0, 0, 0, 0.165);
}
.o-proj3 h3{
    position: absolute;
    top: 1200px;
    background-color: var(--corBg);
    color: var(--corDestaque);
    padding: 25px;
    border-radius: 100px;
    box-shadow:  2px 2px 14px 5px rgba(0, 0, 0, 0.165);
}

footer{
    margin-top: 10%;
    background-color: var(--corfooter);
    position: relative;
}
.find-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 50px 0px 50px;
    color: white;
    font-size: 1.5rem;
    font-family: var(--font);
}
.find-me div{
    margin-top: 50px;
    display: flex;
    gap: 50px;
}
.find-me div img{
    height: 60px;
    width: 60px;
}
.dev{
    font-size: 0.9rem;
}


@media(max-width: 600px){
    .menu ul{
        display: none;
    }
    #menu{
        display: block;
    }
    main{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }
    .card-project{
        width: 90%;
    }
}
